.for-desktop {
  @include mobile {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }
}

.for-mobile {
  @include desktop {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }
}

.is-hidden {
  // stylelint-disable-next-line declaration-no-important
  display: none !important;
}

@function vw($value, $base: 1920) {
  @return $value / $base * 100vw;
}

@function vmin($value, $base: 360) {
  @return $value / $base * 100vmin;
}

