// colors
$color-white: #fff;
$color-black: #000;
$color-darken: #111;
$color-dark: #181818;
$color-gray: #d1d1d1;
$color-gray-two: #7c7c7c;
$color-orange: #f8991d;
$color-orange-dark: #e06810;
$color-green: #8CC851;

// fonts
$font-gilroy: "Gilroy";

$transition-color: color ease-in-out 0.15s;
$transition: ease-in-out 0.15s;
$box-shadow: 0 4px 13px rgba($color-black, 0.15);
$border-radius: 10px;
