/* src/assets/styles/components/_button.scss  */

.btn {
  border-radius: 90px;
  padding: 14px 50px;
  border: none;
  outline: none;
  box-shadow: none;

  &-primary {
    background-color: $color-orange;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    &:hover {
      background-color: $color-orange-dark !important;
    }
  }
}
