/* src/assets/styles/components/_button.scss  */

.btn {
  border-radius: 90px;
  padding: 14px 50px;

  &-primary {
    background-color: $color-orange;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: $color-white;
    border-color: $color-orange;
    outline-color: $color-orange;

    :not(.btn-check) + &:hover,
    &:first-child:hover {
      outline-color: $color-dark;
      background-color: $color-dark;
      border-color: $color-dark;
    }
  }

  &-outline-primary {
    border-color: $color-orange;
    color: $color-orange;

    :not(.btn-check) + &:hover,
    &:first-child:hover {
      color: $color-white;
      background-color: $color-orange;
      border-color: $color-orange;
    }
  }

  &--reset {
    margin: 20px;
    padding: 10px 15px;
    max-width: calc(100% - 40px);
    width: 100%;
    color: #898989;
    border-radius: 5px;
    border: 1px solid #d0d0d0;

    &:hover,
    &:focus {
      border-color: #d0d0d0 !important;
    }
  }
}
