.special {
  position: relative;
  padding: 80px 0;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        90deg,
        $color-black 0%,
        rgba($color-black, 0) 100%
      ),
      url("@~images/special-bg.jpg");
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    z-index: -1;
  }

  h3,
  p {
    color: $color-white;
  }

  h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.4;
  }

  p + p {
    margin-bottom: 15px;
  }

  p:last-of-type {
    margin-bottom: 22px;
  }

  &--gradient {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-darken, 0.85);
      background-image: url("data:image/svg+xml,%3Csvg width='710' height='344' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.34' clip-path='url(%23a)'%3E%3Cpath d='M706.236 335.296c-.86-1.853-1.661-3.39-2.406-4.621-12.318-22.186-35.858-49.418-70.606-81.703l-.734-.74-.368-.362-.372-.372h-.373c-15.77-15.033-25.757-25.142-29.939-30.317-7.652-9.858-9.366-19.837-5.184-29.948 2.955-7.639 14.054-23.772 33.271-48.421 10.108-13.063 18.114-23.532 24.025-31.42 42.639-56.685 61.124-92.908 55.453-108.682l-2.202-3.686c-1.48-2.22-5.3-4.25-11.454-6.101-6.168-1.848-14.052-2.153-23.666-.922l-106.461.735c-1.725-.61-4.188-.554-7.396.187-3.205.74-4.808 1.112-4.808 1.112l-1.852.926-1.471 1.112c-1.233.735-2.589 2.029-4.068 3.878-1.473 1.842-2.704 4.005-3.688 6.469-11.591 29.82-24.769 57.544-39.559 83.173-9.119 15.282-17.494 28.527-25.142 39.741-7.638 11.21-14.046 19.469-19.217 24.764-5.179 5.299-9.853 9.545-14.051 12.752-4.191 3.208-7.391 4.564-9.606 4.068a270.01 270.01 0 0 1-6.291-1.48c-3.448-2.219-6.222-5.237-8.313-9.057-2.1-3.819-3.514-8.627-4.253-14.418-.736-5.796-1.171-10.781-1.295-14.972-.115-4.186-.062-10.107.188-17.746.256-7.643.371-12.815.371-15.526 0-9.366.183-19.531.549-30.498.373-10.967.675-19.656.927-26.057.252-6.408.368-13.188.368-20.335s-.435-12.752-1.295-16.82c-.849-4.063-2.153-8.007-3.871-11.83-1.729-3.82-4.258-6.775-7.578-8.873-3.327-2.094-7.462-3.757-12.384-4.992-13.063-2.956-29.696-4.555-49.909-4.804-45.837-.492-75.289 2.468-88.35 8.876-5.176 2.707-9.859 6.407-14.046 11.086-4.437 5.424-5.056 8.383-1.853 8.87 14.789 2.216 25.258 7.515 31.42 15.894l2.221 4.44c1.727 3.203 3.452 8.874 5.178 17.005 1.723 8.131 2.835 17.126 3.325 26.98 1.23 17.993 1.23 33.395 0 46.208-1.234 12.819-2.4 22.798-3.512 29.945-1.112 7.147-2.774 12.938-4.991 17.373-2.221 4.436-3.698 7.147-4.439 8.131-.739.984-1.355 1.604-1.845 1.848a27.697 27.697 0 0 1-9.982 1.853c-3.454 0-7.641-1.728-12.569-5.179-4.926-3.452-10.039-8.194-15.339-14.233-5.299-6.04-11.276-14.48-17.933-25.323-6.651-10.842-13.552-23.657-20.699-38.443l-5.913-10.723c-3.697-6.899-8.747-16.944-15.154-30.126-6.412-13.187-12.079-25.943-17.006-38.266-1.969-5.175-4.928-9.115-8.871-11.826l-1.85-1.112c-1.23-.984-3.204-2.03-5.913-3.143a39.24 39.24 0 0 0-8.503-2.4l-101.289.735c-10.35 0-17.373 2.345-21.07 7.028l-1.48 2.216C.372-1.542 0 .428 0 3.14 0 5.852.74 9.18 2.22 13.12 17.005 47.87 33.084 81.386 50.458 113.67c17.373 32.284 32.47 58.29 45.282 77.994 12.814 19.718 25.876 38.328 39.185 55.82 13.309 17.499 22.119 28.713 26.429 33.64 4.315 4.935 7.705 8.625 10.169 11.089l9.243 8.871c5.915 5.916 14.6 13.001 26.06 21.255 11.463 8.259 24.153 16.39 38.077 24.406 13.927 8.003 30.128 14.534 48.614 19.585 18.483 5.056 36.472 7.085 53.971 6.106h42.513c8.622-.744 15.154-3.455 19.593-8.135l1.471-1.853c.99-1.47 1.915-3.756 2.77-6.831.865-3.08 1.295-6.474 1.295-10.165-.253-10.595.554-20.144 2.398-28.646 1.842-8.499 3.942-14.906 6.291-19.222 2.347-4.311 4.996-7.95 7.945-10.899 2.954-2.956 5.06-4.747 6.295-5.363 1.227-.62 2.207-1.041 2.947-1.294 5.914-1.97 12.875-.062 20.892 5.735 8.011 5.791 15.525 12.942 22.553 21.441 7.024 8.507 15.463 18.051 25.319 28.646 9.862 10.599 18.485 18.478 25.876 23.661l7.391 4.436c4.935 2.959 11.343 5.671 19.231 8.135 7.873 2.462 14.772 3.079 20.695 1.847l94.632-1.476c9.36 0 16.643-1.55 21.809-4.625 5.176-3.08 8.252-6.474 9.243-10.165.99-3.695 1.043-7.888.188-12.575-.877-4.675-1.74-7.945-2.6-9.792Z' fill='%23F8991D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(0 -183)' d='M0 0h710v710H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      background-size: 710px auto;
      background-position: right 10% center;
      background-repeat: no-repeat;
      mix-blend-mode: normal;
    }
  }

  &--gradient p {
    font-size: 22px;
  }

  &__col {
    z-index: 1;
  }

  form {
    margin-top: 22px;
  }
}
