.tovar {
  $p: &;

  position: relative;
  padding: 25px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  p {
    margin: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    max-height: 150px;
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
    opacity: 1;
    transition: opacity $transition;

    &:hover {
      opacity: 0.7;
    }

    img {
      object-fit: contain;
    }
  }

  &__title {
    margin-bottom: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $color-black;
    text-decoration: none;
    transition: $transition-color;

    &:hover {
      color: $color-orange;
    }
  }

  &__price {
    margin-bottom: 15px;

    p {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__button {
    margin-top: auto;
  }

  &__line {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    gap: 40px;

    #{$p}__title,
    #{$p}__price,
    #{$p}__button,
    #{$p}__image, {
      margin: 0;
    }

    #{$p}__image {
      height: 60px;
      width: 60px;
    }

    #{$p}__price {
      flex-shrink: 0;
      text-align: center;
      width: 135px;

      p {
        font-weight: 500;
      }
    }

    #{$p}__title {
      width: 255px;
      text-align: left;
      font-weight: 400;
    }

    @include mobile {
      gap: 15px;
      flex-wrap: wrap;
      justify-content: center;

      #{$p}__title {
        text-align: center;
      }
    }
  }
}
