mixin tovar
  .tovar&attributes(attributes)
    a.tovar__image(href="#")
      img(src=require("images/tovar/tovar-01.png"))
    .tovar__sklad
    a.tovar__title(href="#")
      p Шина пневматическая 13.6-38 8PR BKT TR 135 131A6/127A8 TT
    .tovar__price
      p 2 500 ₽
    .tovar__button
      a.btn.btn-outline-primary(href="#") Подробнее
