extends ./layouts/master.pug

block title
  title My Page - Home

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  section.container
    ul
      li.h3
        a(href="/home") главная
      li.h3
        a(href="/catalog") Каталог товаров
      li.h3
        a(href="/about-us") О компании
      li.h3
        a(href="/provider") Поставщикам
      li.h3
        a(href="/contact") Контакты
