/* src/assets/styles/layout/_general.scss  */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: $font-gilroy;
  background: $color-white;
  color: $color-black;
  scroll-behavior: smooth;
  font-size: 16px;
}

main {
  flex: 1;
  padding-top: 238px;

  @include mobile {
    padding-top: 94px;
  }
}

hr {
  border-color: $color-gray;
  opacity: 0.5;
}

.bg-overflow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: $color-black;
  visibility: hidden;
  opacity: 0;
  transition: visibility $transition, opacity $transition;

  &.is-active {
    opacity: 0.7;
    visibility: visible;
  }
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  margin: 70px 0;

  &.start {
    margin: 30px 0 70px;
  }
}


h2, .h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}

.container {
  max-width: 1200px;

  @include mobile {
    padding: 0 vmin(15);
    max-width: none;
  }
}

.swiper {
  &-slide {
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
