/* src/assets/styles/layout/_general.scss  */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: $font-gilroy;
  background: $color-white;
  color: $color-black;
  scroll-behavior: smooth;
  font-size: 14px;
}

main {
  flex: 1;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  margin: 70px 0;
}


h2, .h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}

.container {
  max-width: 1200px;

  @include mobile {
    padding: 0 vmin(15);
    max-width: none;
  }
}
