/* src/assets/styles/layout/_page.scss  */

.popular-category {
  .category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
    "one . ."
    "one . .";
  }

  .category__item {
    &:first-child {
      grid-area: one;
    }
  }

  &__title {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include mobile {
    .category {
      display: flex;
      flex-direction: column;
    }
  }
}

.home__tovars, .home__brands {
  &-slider {
    .swiper {
      padding: 40px 15px;
      margin-left: -15px;
      margin-right: -15px;

      &-pagination {
        bottom: 0;

        &-bullet {
          height: 15px;
          width: 15px;

          &-active {
            background-color: $color-orange;
          }
        }
      }
    }
  }
}

.brands {
  .brand {
    height: 100%;

    @include mobile {
      max-height: 130px;
      margin-bottom: 30px;
    }
  }

  &__num {
    display: flex;
    flex-direction: column;
  }

  &__number {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: $color-orange;
    margin-bottom: 5px;
  }

  &__num-dec {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0;
  }
}



.category-page {
  .category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    grid-template-areas:
    ". . .";

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }
}
