/* src/assets/styles/layout/_page.scss  */

.popular-category {
  .category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
    "one . ."
    "one . .";
  }

  .category__item {
    &:first-child {
      grid-area: one;
    }
  }

  &__title {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include mobile {
    .category {
      display: flex;
      flex-direction: column;
    }
  }
}

.home__tovars, .home__brands {
  &-slider {
    .swiper {
      padding: 40px 15px;
      margin-left: -15px;
      margin-right: -15px;

      &-pagination {
        bottom: 0;

        &-bullet {
          height: 15px;
          width: 15px;

          &-active {
            background-color: $color-orange;
          }
        }
      }
    }
  }
}

.brands {
  .brand {
    height: 100%;

    @include mobile {
      max-height: 130px;
      margin-bottom: 30px;
    }
  }
}

.product {
  h1 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 1px;
  }

  h2 {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }

  &__box {
    background-color: $color-gray;
    padding: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 1px 1px;
    grid-template-areas:
    "image title"
    "image price"
    "image offer"
    "specification description";

    @include mobile {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 1px;
      grid-template-areas: "image" "title" "price" "offer" "specification" "description";
    }
  }

  &__block {
    display: flex;
    flex-direction: column;

    .btn {
      margin: auto 0;
    }
  }

  &__image,
  &__title,
  &__price,
  &__offer,
  &__specification,
  &__description {
    background-color: $color-white;
    display: flex;
    padding: 30px 25px;

    @include mobile {
      flex-direction: column;
      padding: 20px 15px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $color-gray-two;
    margin-bottom: 10px;
  }

  &__pay {
    display: flex;
    gap: 14px;

    img {
      flex-shrink: 0;
      object-fit: contain;
      width: 156px;
    }

    &-deck {
      font-family: $font-gilroy;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      opacity: 0.5;
      margin: 0;
    }
  }

  &__image {
    grid-area: image;
    justify-content: center;
    align-items: center;

    &-box {
      width: 100%;
      height: 350px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      @include mobile {
        height: 250px;
      }
    }
  }

  &__title {
    grid-area: title;
    flex-direction: column;
  }

  &__cost {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 1px;
    color: $color-orange;
  }

  &__article {
    text-align: right;
  }

  &__price {
    grid-area: price;
    justify-content: space-between;
    flex-wrap: wrap;

    .product__block {
      flex: 0 0 auto;
      width: 50%;
    }
  }

  &__offer {
    grid-area: offer;
    flex-direction: column;
  }

  &__specification {
    grid-area: specification;
    flex-direction: column;
  }

  &__description {
    grid-area: description;
    flex-direction: column;
  }

  &__table {
    width: 100%;
  }

  &__tr {
    display: flex;
  }

  &__td {
    flex: 0 0 auto;
    width: 50%;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    padding: 10px 0;
    border-bottom: 1px dashed $color-gray;

    &-title {
      text-align: left;
    }

    &-description {
      text-align: right;
      opacity: 0.6;
    }
  }
}

.category-page {
  .category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    grid-template-areas:
    ". . .";

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }
}
